/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos */
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #f3f5fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
    height: 100%;
    margin-top: 1.5em;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.gap-1em {
    gap: 1em;
}

nav {
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: 100%;
    margin-top: 0;
}

nav .logo img {
    width: 1.5em;
}

.warnings {
    padding: 1em;
    border-radius: 16px;
    margin: 1em 0;
    display: flex;
    align-items: center;
    transition: all 0.9s;
}

.error {
    display: none;
    background-color: #a50e0e;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
}

.area {
    height: 100%;
    position: relative;
}

#btn-toPaste {
    position: absolute;
    top: 1em;
    right: 0;
    background-color: #0a38718c;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;

    padding: 1em;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

#btn-toPaste:hover {
    background-color: #0a3871;
    opacity: 0.8;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.container .content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.container .content textarea {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;

    width: 100%;
    height: 100%;
    padding: 0.3em;
    border: none !important;
    resize: none;
    color: #0A3871;
    background: none !important;
}

.container .content textarea:active,
.container .content textarea:focus {
    outline: none;
}

.container .content .content-footer .lettersAlert {
    display: flex;
    align-items: center;
    gap: 0.2em;

    font-size: 0.9rem;
    font-weight: 400;
    color: #0A3871;
}

.container .content .content-footer .lettersAlert img {
    width: 0.9em;
}

.container .content .content-footer .buttons {
    display: flex;
    gap: 1em;
    margin-top: 0.5rem;
}

.container .content .content-footer #btn-crypt {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 1em;
    background-color: #0A3871;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.container .content .content-footer #btn-crypt:hover {
    background-color: #0A3871;
    opacity: 0.8;
}

.container .content .content-footer #btn-crypt:active {
    background-color: #0A3871;
    opacity: 0.6;
}

.container .content .content-footer #btn-decrypt {
    width: 100%;
    padding: 1em;
    border: 1px solid #0A3871;
    border-radius: 1em;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.container .content .content-footer #btn-decrypt:hover {
    background-color: #0A3871;
    color: #fff;
    opacity: 0.8;
}

.container .content .content-footer #btn-decrypt:active {
    background-color: #0A3871;
    color: #fff;
    opacity: 0.6;
}

.answers {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-radius: 16px;
    padding: 9em 3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 46rem
}

.answers .previousAnswers {
    text-align: center;

}

.answers .previousAnswers h5 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #0A3871;
    margin: 12px 0;
}

.answers .previousAnswers span {
    font-size: 1rem;
    font-weight: 400;
    color: #0A3871;
}

.answers .answers {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #0A3871;
    margin: 12px 0;
    width: 100%;
    height: 100%;
}

.answers .answers .resultText {
    width: 100% !important;
    max-width: 340px !important;
    height: 100% !important;
    max-height: 500px !important;
    overflow-y: auto;
    text-justify: newspaper;
    word-wrap: break-word;
    /* Permite a quebra de palavras longas */
    white-space: normal;

    scrollbar-color: #0A3871 #fff;
    scrollbar-width: thin;
    padding: 1em;
}

.answers .answers button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
    padding: 1em;
    border: #0A3871 1px solid;
    border-radius: 1em;
    background-color: #0A3871;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.answers .answers button img {
    background: #fff;
}

.answers .answers button:hover {
    background-color: #fff;
    color: #0A3871;
    border: #0A3871 11px solid;
    opacity: 0.8;
}

footer {
    margin-top: 1em;
    text-align: center;
    font-size: 0.9rem;
    color: #0A3871;

    width: 100%;
    padding: 1em;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        justify-content: space-between;
        padding: 1em 0;
    }

    main {
        grid-template-columns: 1fr;
    }

    .answers .answers .resultText {
        max-height: 600px !important;
        max-width: 600px !important;
    }

    .answers {
        padding: 1em 1em;
        height: 100%;
    }

    .answers .previousAnswers h5 {
        font-size: 1.3rem;
    }

    .answers .previousAnswers span {
        font-size: 0.9rem;
    }

    .answers img {
        display: none;
    }

    nav .linguagem,
    nav .toggleDarkMode {
        padding: 0.9em;
    }

    nav .linguagem .btn-linguagem,
    nav .toggleDarkMode .btn-toggleDarkMode {
        padding: 0.8em;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 768px) {

    main {
        grid-template-columns: 1fr;
    }

    .answers {
        padding: 1em 1em;
        height: 100%;
    }

    .answers .answers .resultText {
        max-height: 600px !important;
        max-width: 300px !important;
    }

    .answers .previousAnswers h5 {
        font-size: 1.3rem;
    }

    .answers .previousAnswers span {
        font-size: 0.9rem;
    }

    .answers img {
        display: none;
    }

    nav .linguagem,
    nav .toggleDarkMode {
        padding: 0.3em;
    }

    nav .linguagem .btn-linguagem,
    nav .toggleDarkMode .btn-toggleDarkMode {
        padding: 0.7em;
        font-size: 0.7rem;
    }

}